.fundo-servicos{
    background-image: url(/img/fundo-servico.png);
    background-color: rgba(36, 36, 58, 0.877); 
    background-blend-mode: overlay;
    width: 700px;
    height: 700px;
    top: 162px;
}
