*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
    display: grid;
    background-color: #939c9b;
    height: 100vh;
    /* column-gap: 5px; */
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    gap:5px;

    justify-content: flex-end;
    align-content: flex-start;

    justify-items: center;
    align-items: center;
}

.box{
    background-color: #8a2be2;
    color: #fff;
    text-align: center;
    border: 2px solid #0000ff;
    
}
